<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <data>

        <!-- Top menu item -->
        <menuitem
            id="menu_car_root"
            name="Car"
            groups="car.group_car_cashier,car.group_car_purchase,car.group_car_follow,car.group_car_wallet,car.group_car_project,car.group_car_country,car.group_car_clearance"
            web_icon="car,static/description/icon.png"
            sequence="2"/>

        <menuitem
            id="menu_car_setting"
            name="Setting"
            parent="menu_car_root"
            sequence="10"/>

        <menuitem
            id="menu_car_brand"
            name="Brands"
            groups="car.group_car_purchase,car.group_car_wallet,car.group_car_project,car.group_car_clearance"
            parent="menu_car_setting"
            action="car.open_view_brand"
            sequence="0"/>

        <menuitem
            id="menu_car_model"
            name="Models"
            groups="car.group_car_purchase,car.group_car_wallet,car.group_car_project,car.group_car_clearance"
            parent="menu_car_setting"
            action="car.open_view_model"
            sequence="1"/>

        <menuitem
            id="menu_car_users"
            name="Users"
            groups="car.group_car_wallet,car.group_car_project"
            parent="menu_car_setting"
            action="base.action_res_users"
            sequence="4"/>

        <menuitem
            id="menu_car_company"
            name="Companies"
            groups="car.group_car_wallet,car.group_car_project"
            parent="menu_car_setting"
            action="base.action_res_company_form"
            sequence="5"/>

        <menuitem
            id="menu_car_customer"
            name="Customers"
            groups="car.group_car_follow,car.group_car_wallet,car.group_car_project,car.group_car_country"
            parent="menu_car_root"
            action="base.action_partner_customer_form"
            sequence="4"/>

        <menuitem
            id="menu_car_vehicle"
            name="Vehicles"
            groups="car.group_car_cashier,car.group_car_purchase,car.group_car_follow,car.group_car_wallet,car.group_car_project,car.group_car_country,car.group_car_clearance"
            parent="menu_car_root"
            action="car.open_view_vehicle"
            sequence="3"/>


    </data>
</odoo>