<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <data>

        <!-- This Menu Item will appear in the Upper bar, That's why It needs NO parent or action -->


        <menuitem
            id="menu_car_contract"
            name="Contracts"
            groups="car.group_car_wallet,car.group_car_project,car.group_car_country,car.group_car_follow"
            parent="car.menu_car_root"
            action="car_contract.open_view_contract"
            sequence="1"/>

        <menuitem
            id="menu_car_depreciation"
            name="Depreciations"
            groups="car.group_car_wallet,car.group_car_project,car.group_car_country"
            parent="car.menu_car_root"
            action="car_contract.open_view_depreciation"
            sequence="4"/>

    </data>
</odoo>